body{margin:0;font-family:Arial;background:#0f2f1f;color:#fff}
header{background:#0a5c2b;padding:20px;text-align:center}
nav{background:#063d1a;display:flex;justify-content:center}
nav a{padding:12px;color:#fff;text-decoration:none}
nav a:hover{background:#1fa34a}
.logo{text-align:center;margin:20px}
.logo img{width:150px}
.card{background:#123d2a;padding:15px;margin:10px;border-radius:10px}
button{background:#1fa34a;border:none;padding:8px;color:#fff;cursor:pointer}
.match {
  background: #123d2a;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.match:hover {
  background: #1fa34a;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}